@inject HttpClient HttpClient

<div class="card">
    <img src="@GetImageUrl()" class="card-img-top" alt="@image.Descrizione">
    <div class="card-body">
        <h5 class="card-title">@image.Descrizione</h5>
        <p class="card-text">@image.Luogo</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><ButtonLike Likes="@image.Likes" ImageID="@image.Id" Like="@image.YourLike"/></li>
        @if(ShowControll)
        {
            <li class="list-group-item"><ButtonDelete ImageID="@image.Id" /></li>
        }
    </ul>
    <div class="card-footer">
        <ImageFooter ShowUsername="ShowUsername" Username="@image.Username" DateTime="@image.Ora"/>
    </div>
</div>

@code {
    [Parameter]
    public ImageDTO image { get; set; }
    [Parameter]
    public bool ShowUsername { get; set; }
    [Parameter]
    public bool ShowControll { get; set; }

    string GetImageUrl() => HttpClient.BaseAddress + "api/Image/" + image.Id;
}

